/* Importar fuente de google fonts */
@import url('https://fonts.googleapis.com/css?family=Mukta');

/*------------------------------------------------------*/
/*---------- General -----------------------------------*/

body {
    font-family: 'Mukta', sans-serif;
    width: 70%;
    border: 1px solid #eee;
    margin: 0 auto;
    
}


html {
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position:0 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: white;

}



/* Logo */
header img {
    margin-top: 0px;
    height: 50px;
}

h1{
    margin: 2rem;
    margin-left: 0;
}

.cajagrande{
    padding: 1rem;
}
.oculto{
    display: none;
}

.btn-outline-info{
    height: 1.6rem;
     width:  1.6rem;
    padding: 0.1rem;
}
.algo{
width: 100%;
}


@media(max-width: 500px){
    header {
    width: 100%;
    
   
}
.cajagrande{
    padding: 0.1rem;
}

    body {
   
    width: 100%;
    margin: 0 auto;
    
}
.formulario{
    width: 100%;
   
}
.selectorcliente{
    width: 100%;
    
}
th{
    font-size: 14px;
}

td{
    font-size: 14px; 
}



}